@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
*{
    font-family: baskervville SC;
}

body{
    margin: 0px;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    min-height: 100vh;
}

#contenedor{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    
}

.contenedorTexto{
    width: 30%;
    margin: auto;
    
    color: gold;
}
.texto{
    text-align: center;
    height: 100px;
    font-weight: bold;
    font-size: larger;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}
.boton{
    width: 100%;
    text-align: center;
}


.btn{
    background-color: rgba(0, 0, 0, 0.784);
    color: gold;
    font-weight: bold;
    font-size: larger;
    border: none;
    padding: 5px 20px;
    border-radius: 0.5em;  
}

.btn:hover{
    cursor: pointer;
    background-color: gold;
    transition: 0.5s ease;
    color: rgb(0, 0, 149);
}

#contenedorCarta{
    width: 340px;
    height: 514px;
    text-align: center;
    margin: auto;
    color: gold;
}

#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.carta{
    padding: 0.5em;
    text-align: center;
}

.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    border: 1px solid;
    margin: auto;
}

.cartaImagen{
    width: 340px;
    height: 514px;
    border-radius: 0.5em;
}
.front, .back {
    backface-visibility: hidden;
}

.front {
    position: absolute;
    z-index: 2;
    transform: rotateY(0deg);
    transition: all 0.3s linear;
}

.back {
    position: absolute;
    width: 340px;
    height: 514px;
    transition: all 0.3s linear;
    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.784);
}

.back p{
    padding: 1em;
    
}

.carta:hover .front {
    transform: rotateY(180deg);
}
  
.carta:hover .back {
    transform: rotateY(360deg);
}